/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/testing/*.php
/storage/framework/views/*.php
/.idea
/.vscode
.env
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/pnpm-lock.yaml
